<div class="pizzas__item pizza">
  <div class="burger">
    <button (click)="open()" class="burger__btn">
      <img src="../assets/images/burger.svg" alt="cheese" class="burger__img" />
    </button>
  </div>
  <a [routerLink]="['/pizzas', pizza.id]">
    <img [src]="pizza.image" class="pizza__image" />
  </a>
  <div class="pizza__info">
    <h4 class="pizza__title">{{ pizza.name }}</h4>
  </div>
  <div class="pizza__ingredients ingredients">
    <span class="ingredients__item" *ngFor="let ingredient of ingredients">
      {{ ingredient }} |
    </span>
  </div>
  <app-pizza-dashboard [name]="pizza.name" [info]="pizza.info" [priceClass]="priceClass" [pizza]="pizza"
    (changeSelectedPizza)="handleMyEvent($event)">
  </app-pizza-dashboard>

  <app-change-ingredient *ngIf="isOpen" class="modal" [pizza]="pizza" [close]="close" [orderedPizza]="orderedPizza">
  </app-change-ingredient>
</div>
