<div class="pizza-view">
  <div class="pizza-detail">
    <img [src]="pizza.imagePath" class="pizza-detail__img" />
    <div>
      <h1 class="pizza-detail__title">{{pizza.name}}</h1>
      <div class="pizza-detail__ingredients">
        <span class="ingredients__item" *ngFor="let item of pizza.ingredients">
          {{ item }} |
        </span>
      </div>
      <div class="pizza-detail__nutrition nutrition">
        <div class="nutrition__title">Nutrition information per 100g</div>
        <div>Protein - {{nutricion.protein}}</div>
        <div>Fats - {{nutricion.fats}}</div>
        <div>Carbohydrates - {{nutricion.carbohydrates}}</div>
        <div>Energy - {{nutricion.energy}}</div>
      </div>
      <app-pizza-dashboard [name]="pizza.name" [info]="pizza.info" [priceClass]='priceClass' [pizza]="pizza"
        [addPizzaToOrderCallback]="addPizzaToOrderCallback">
      </app-pizza-dashboard>
    </div>
  </div>
</div>
