<div class="pizzas__item pizza">
  <img [src]="pizza.image" class="pizza__image" />
  <div class="pizza__info">
    <h4 class="pizza__title">{{ pizza.name }}</h4>
    <div *ngFor="let item of sizes">
      <div class="pizza__persons" *ngIf="pizza.size === item" [ngSwitch]="item">
        <img
          src="../assets/images/person.svg"
          alt="cheese"
          class="persons__img"
        />
        <span *ngSwitchCase="23">
          1 - 2
        </span>
        <span *ngSwitchCase="30">
          2 - 3
        </span>
        <span *ngSwitchCase="35">
          3 - 4
        </span>
        <span *ngSwitchCase="40">
          4 - 5
        </span>
        <span *ngSwitchDefault> </span>
      </div>
    </div>
  </div>
  <div class="pizza__ingredients ingredients">
    <span class="ingredients__item" *ngFor="let ingredient of ingredients">
      {{ ingredient }}
    </span>
  </div>
  <div class="radio-group">
    <input
      class="radio"
      type="radio"
      id="{{ pizza.name }} + 'thin'"
      [name]="pizza.name"
      value="thin"
      #thin
      (change)="handleChangeDough(thin)"
    />
    <label class="label" for="{{ pizza.name }} + 'thin'">
      Thin
    </label>
    <input
      class="radio"
      type="radio"
      id="{{ pizza.name }} + 'trad'"
      [name]="pizza.name"
      value="traditional"
      #traditional
      (change)="handleChangeDough(traditional)"
    />
    <label class="label" for="{{ pizza.name }} + 'trad'">
      Traditional
    </label>
  </div>
  <div class="pizza-view">
    <form class="radio-group">
      <div style="width: 100%" *ngFor="let item of sizes">
        <input
          class="radio"
          type="radio"
          id="{{ item }} {{ pizza.name }}"
          [value]="item"
          name="size"
          [(ngModel)]="size"
          (change)="handleChangeSize(size)"
        />
        <label class="label" for="{{ item }} {{ pizza.name }}">
          {{ item }}cm
        </label>
      </div>
    </form>

    <div class="cheese-group" *ngIf="size >= 30">
      <div style="width: 100%">
        <input
          class="radio"
          type="checkbox"
          id="{{ pizza.name }} cheese"
          name="{{ pizza.name }} cheese"
          [checked]="cheese"
          [(ngModel)]="isChecked"
          (change)="handleChangeCheese(isChecked)"
        />
        <label class="cheese" for="{{ pizza.name }} cheese">
          <img
            src="../assets/images/cheese.svg"
            alt="cheese"
            class="add-cheese__img"
          />
        </label>
      </div>
    </div>
  </div>
  <div class="price">
    <button class="price__btn">Add to cart</button>
    <div class="price__bill" *ngIf="size">
      <span> {{ getTotalPrice() }} BYN</span>
    </div>
  </div>
</div>
