  <div class="radio-group">
    <input class="radio" type="radio" id="{{ name }} + 'thin'" [name]="name" value="thin" #thin
      (change)="handleChangeDough(thin)" />
    <label class="label" for="{{ name }} + 'thin'">
      Thin
    </label>
    <input class="radio" type="radio" id="{{ name }} + 'trad'" [name]="name" value="traditional" #traditional
      (change)="handleChangeDough(traditional)" />
    <label class="label" for="{{ name }} + 'trad'">
      Traditional
    </label>
  </div>
  <div class="pizza-view">
    <form class="radio-group">
      <div style="width: 100%" *ngFor="let item of sizes">
        <input class="radio" type="radio" id="{{ item }} {{ name }}" [value]="item" name="size" [(ngModel)]="size"
          (change)="handleChangeSize(size)" />
        <label class="label" for="{{ item }} {{ name }}">
          {{ item }}cm
        </label>
      </div>
    </form>

    <div class="cheese-group" *ngIf="size >= 30">
      <div style="width: 100%">
        <input class="radio" type="checkbox" id="{{ name }} cheese" name="{{name }} cheese" [checked]="cheese"
          [(ngModel)]="isChecked" (change)="handleChangeCheese(isChecked)" />
        <label class="cheese" for="{{ name }} cheese">
          <img src="../assets/images/cheese.svg" alt="cheese" class="add-cheese__img" />
        </label>
      </div>
    </div>
  </div>
  <div class="price">
    <button class="price__btn">Add to cart</button>
    <div class="price__bill" *ngIf="size">
      <span> {{ getTotalPrice() }} BYN</span>
    </div>
  </div>
