.order-card {
  width: 360px;
  padding: 12px;
  margin: 60px 10px 15px 10px;
  background-color: white;
  border-radius: 5px;
  border-top: solid 2px rgb(156, 8, 8);
  box-shadow: 4px 3px 9px rgba(0, 0, 0, 0.07),
    6px 9px 18px rgba(0, 0, 0, 0.06);
  position: relative;

}

.order-card__image,
.order {
  border-radius: 50%;
  border-top: solid 3px rgb(156, 8, 8);
  background-color: white;
  width: 60px;
  height: 60px;
  align-items: center;
  text-align: center;
  padding: 4px;
  position: absolute;
  z-index: 10;
  top: -33px;
  left: 0;
  right: 0;
  margin: 0 auto;

  &__image {
    width: 40px;
  }

  &__btn {
    text-transform: uppercase;
    color: white;
    background-color: rgb(230, 48, 48);
    outline: none;
    border: none;
    border-radius: 25px;
    font-size: 11px;
    font-weight: bolder;
    padding: 9px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px
  }
}

.action {
  &__clear {
    color: rgb(5, 77, 5);
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    outline: none
  }
}
