<div class="pizzas__item pizza">
  <div class="burger">
    <button (click)="open()" class="burger__btn">
      <img src="../assets/images/burger.svg" alt="cheese" class="burger__img" />
    </button>
  </div>
  <a [routerLink]="['/pizzas', pizza.id]">
    <img [src]="pizza.image" class="pizza__image" />
  </a>
  <div class="pizza__info">
    <h4 class="pizza__title">{{ pizza.name }}</h4>
    <div *ngFor="let item of sizes">
      <div class="pizza__persons" *ngIf="selectedSize === item" [ngSwitch]="item">
        <img src="../assets/images/person.svg" alt="cheese" class="persons__img" />
        <span *ngSwitchCase="23">
          1 - 2
        </span>
        <span *ngSwitchCase="30">
          2 - 3
        </span>
        <span *ngSwitchCase="35">
          3 - 4
        </span>
        <span *ngSwitchCase="40">
          4 - 5
        </span>
        <span *ngSwitchDefault> </span>
      </div>
    </div>
  </div>
  <div class="pizza__ingredients ingredients">
    <span class="ingredients__item" *ngFor="let ingredient of ingredients">
      {{ ingredient }} |
    </span>
  </div>
  <app-pizza-dashboard [name]="pizza.name" [info]="pizza.info" (changed)="changed($event)" [priceClass]="priceClass" 
  [pizza]="pizza"
  [addPizzaToOrderCallback]="addPizzaToOrderCallback"
  >
  </app-pizza-dashboard>

  <app-change-ingredient *appModal="!isOpen" class="modal" [pizza]="pizza" [close]="close"
    [orderedPizza]="orderedPizza">
  </app-change-ingredient>
</div>
