.dashboard {
  background-color: white;
  width: 95%;
  height: 95%;
  margin: 15px auto;
  border-radius: 5px;
  position: relative;
  padding: 15px 0 0 10px;

  &__add-btn {
    border: none;
    outline: none;
  }

  &__add-inp {
    border: none;
    border-bottom: solid 1px grey;
    outline: none;
    width: 90%;
    display: block;
    margin: 0px auto;
    font-size: 16px;
  }

  &__title {
    font-size: 18px;
    font-weight: bolder;
    margin: 0px 0 10px 0;
    letter-spacing: 1px;
  }
}

.add {
  cursor: pointer;
  background-color: white;
  color: rgb(17, 110, 17);
  font-size: 15px;
  font-weight: 600;

  margin: 8px 0 0 0;

  &__img {
    width: 12px;
    margin: 0px 4px 0px 0px;
  }
}

.button {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__cancel {
    border: none;
    outline: none;
    color: grey;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
  }

  &__add {
    text-transform: uppercase;
    color: #A35115;
    background-color: #FB9040;
    outline: none;
    border: none;
    border-radius: 25px;
    font-size: 11px;
    font-weight: bolder;
    padding: 9px;
    cursor: pointer;
    display: block;
    margin-left: 50px;

    &:disabled {
      background-color: #FDC296;
      color: white;
      cursor: not-allowed
    }
  }
}

.ingredients {
  height: 60%;
  overflow: auto;
  &__item {
    margin: 5px 0;
    cursor: pointer;
    border-bottom: solid 1px white;

    &:hover {
      border-bottom: solid 1px grey;
      font-weight: bold;
    }
  }
}

.ingredients__item,
.ingredient {
  &__delete-btn {
    outline: none;
    border: none;
    cursor: pointer;
    float: right;
    background-color: white;
  }

  &__delete-img {
    width: 10px;
  }

  &__refresh-btn {
    outline: none;
    border: none;
    cursor: pointer;
    float: right;
    background-color: white;
  }

  &__refresh-img {
    width: 13px;
  }

  &--removed {
    color: grey;
    text-decoration: line-through
  }
}
